.btn{
    font-weight: normal;
    font-size: 18px;
    padding: 10px 30px;
    margin: 10px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn--small {
    padding: 5px 15px;
    font-size: 15px;
}

.btn--white {
    background-color: #fff;
    border: 1px solid #aaa;
    color: #aaa;
}

.btn--black {
    background-color: #000;
    border: 1px solid #e8e8e8;
    color:#fff;
}

.btn--hoverRed:hover {
    color: tomato;
    border-color: tomato;
}

.btn--hoverBlack:hover {
    border-color: #000;
}


