@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


/*GLOBAL*/

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: #373a3e;
}

/* HEADER */

header{
    padding-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
}

.logo {
    color: #eeeeee;
    font-weight: bolder;
    font-size: 3em ;
}

header nav a{
    text-decoration: none;
    color: #eeeeee;
    margin-left: 5em;
}

header nav a:hover{
    transition: 2s;
    text-decoration: underline;
    color: #19d3da;
}


/* CONTENT */

main{
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
    color: #eeeeee;
}


/* FORM */

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    background-color: #373a3e;
    width: 70%;
}

form label{
    align-self: flex-start;
    margin-left: 15%;
    font-weight: bold;
}

form input {
    margin-top: 0.2%;
    margin-bottom: 3%;
    padding: 1%;
    border-style: none;
    width: 70%;
    height: 1em;
    color: #eeeeee;
    border-bottom: solid #eeeeee 0.2em;
    background:#373a3e;
}

form input:focus{
    border-color: #19d3da;
    width: 75%;
    transition: 2s;
    outline: none;
}

form textarea{
    background-color: #373a3e;
    width: 72%;
    border-width: 0.2em;
    border-color: #eeeeee;
    border-radius: 10px;
    margin-bottom: 4em;
}

form textarea:focus{
    color: #eeeeee;
    border-color: #19d3da;
    width: 75%;
    transition: 2s;
    outline: none;
}

#precios{
    align-self: flex-start;
    margin-left: 14%;
    margin-top: 1em;
    margin-bottom: 2em;
}

#submit{
    background-color: #eeeeee;
    border: #eeeeee;
    height: 3em;
    width: 30%;
    color: #373a3e;
    border-radius: 3px;
}