@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


/*GLOBAL*/

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

body {
    background-image: linear-gradient(90deg, rgba(55,58,64,0.7651435574229692) 0%, rgba(104,109,118,0.7847514005602241) 100%),
     url('../assets/imgs/fondo2.gif'); 
     background-size: cover;
     background-position: center;
}


/* HEADER */

.header {
    padding-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #eeeeee;
    font-weight: bolder;
    font-size:3em;
}

.header_element {
    display: inline;
    margin-right: 40px;
}


/* NAVIGATION */

.navigation {
    text-align: center;
    margin-top: 4em;
    margin-left: 10em;
    margin-right: 10em;
}

.navigation_item{
    display: block;
    font-size: 50px;
    color: #19d3da;
    text-decoration: none;
}

.navigation_item:hover{
    transition: 1s;
    text-transform: lowercase;
    font-weight: lighter;
    color: black;
    font-size: 53px;
    text-decoration: line-through;
}  

.navigation_about:hover ~ .sectionImage{
    transition: 2s;
    opacity: 1;
    content:url('../assets/imgs/me.jpeg');
}

.navigation_projects:hover ~ .sectionImage{
    transition: 2s;
    opacity: 1;
    content:url('../assets/imgs/proyectos/proyecto1.png');
}

.navigation_services:hover ~ .sectionImage{
    transition: 2s;
    opacity: 1;
    content:url('../assets/imgs/proyectos/project2.png');
}


/* IMAGE */

.sectionImage {
    border-radius: 10px;
    height: 32em;
    width: 32em;
    opacity: 0.6;
    content:url('../assets/imgs/me.jpeg');
}