@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


/*GLOBAL*/

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: #373a3e;;
}

/* HEADER */

header{
    padding-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
}

.logo {
    color: #eeeeee;
    font-weight: bolder;
    font-size: 3em ;
}

header nav a{
    text-decoration: none;
    color: #eeeeee;
    margin-left: 5em;
}

header nav a:hover{
    transition: 2s;
    text-decoration: underline;
    color: #19d3da;
}


/* CONTENT */

h1{
    color: #eeeeee;
    text-align: center;
    font-size: 2em;
    margin-top: 2em;
}

main{
    display: flex;
    height: 70%;
    flex-flow: column;
    color: #eeeeee;
    justify-content: center;
    align-items: center;
}


.services{
    display: flex;
    flex-flow: column;
}

.services_container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 2em;
}

.services_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    height: 6em;
    width: 10em;
    border-radius: 50px;
    background: #373a3e;
    box-shadow:  20px 20px 60px #2f3135, 
             -20px -20px 60px #3f4347;
}

.services_item:hover{
    border-radius: 50px;
    background: #373a3e;
    box-shadow: inset 20px 20px 60px #2f3135, 
            inset -20px -20px 60px #3f4347;
}