body {
    counter-reset: pCounter divCounter ;
}

.note {
  background-color: AliceBlue;
  border: 1px solid #777;
  box-shadow: 4px 4px 2px #333;
  margin: 10px;
  padding: 5px;
}

section p:first-of-type {
      font-weight: bold;
}

p::first-letter{
    color: red;
}

div::after {
    counter-increment: divCounter;
    content: counter(divCounter) "div       ";
}

p::after {
    counter-increment: pCounter;
    content:  counter(pCounter)"p   " ;
}
